state_machine_definition.yml
---
Comment: A description of my state machine
StartAt: Lambda Invoke
States:
  Lambda Invoke:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Next: Lambda Invoke (1)
  Lambda Invoke (1):
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Next: Glue StartJobRun
  Glue StartJobRun:
    Type: Task
    Resource: arn:aws:states:::glue:startJobRun
    Parameters:
      JobName: myJobName
    Catch:
    - ErrorEquals: []
      Next: SNS Publish
    Next: Glue StartJobRun (1)
  Glue StartJobRun (1):
    Type: Task
    Resource: arn:aws:states:::glue:startJobRun
    Parameters:
      JobName: myJobName
    End: true
    Catch:
    - ErrorEquals: []
      Next: SNS Publish (1)
  SNS Publish (1):
    Type: Task
    Resource: arn:aws:states:::sns:publish
    Parameters:
      Message.$: "$"
    End: true
  SNS Publish:
    Type: Task
    Resource: arn:aws:states:::sns:publish
    Parameters:
      Message.$: "$"
    End: true

